<!DOCTYPE html>
<html ng-app="org.canary"
      ng-controller="LoginController as ctrl"
      ng-init="ctrl.init()">
    <head>
        <title>Canary - Login</title>
        <link rel="stylesheet" href="css/canary.min.css">
    </head>
    <body>
        <div class="container">
            <br />
            <div ng-repeat="alert in alerts">
                <div ng-if="alert.visible"
                     ng-include="alert.template"></div>
            </div>
            <div class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index">
                            Canary
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title">
                        Login
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3 text-right">
                            <div class="field-label">
                                Username
                            </div>
                        </div>
                        <div class="col-xs-6 {{ ctrl.isUsernameValid() ? '' : 'has-feedback has-error' }}">
                            <input type="text"
                                   ng-model="login.username"
                                   class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-3 text-right">
                            <div class="field-label">
                                Password
                            </div>
                        </div>
                        <div class="col-xs-6 {{ ctrl.isPasswordValid() ? '' : 'has-feedback has-error' }}">
                            <input type="password"
                                   ng-model="login.password"
                                   class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-3"></div>
                        <div class="col-xs-6">
                            <button type="button"
                                    ng-disabled="!ctrl.isLoginValid()"
                                    ng-click="ctrl.login(login.username, login.password)"
                                    class="col-xs-12 btn {{ ctrl.isLoginValid() ? 'btn-success' : 'btn-disabled' }} btn-md">
                                Login
                                <span class="glyphicon glyphicon-log-in" />
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <br />
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/canary.min.js"></script>
    </body>
</html>