# e.g. com.mysql.jdbc.Driver
database.driver=

# e.g. mysql://localhost:3306
database.url=

# canary
database.name=
database.username=
database.password=

# e.g. org.hibernate.dialect.MySQL5Dialect
hibernate.dialect=